@charset "utf-8";
/* CSS Document */

* 
{
	margin: 0;
	Padding: 0;
}

body {

}

.MainWrapper {
	background-image: url(../img/Cropped_BG2.jpg);
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#loginPage {
	background-image: url(../img/Cropped_BG2.jpg);
	width: 100%;
	height: auto;
}

#invitationPage {
	background-image: url(../img/Cropped_BG2.jpg);
	width: 100%;
	height: auto;
}

#startGamePage {
	background-image: url(../img/Cropped_BG2.jpg);
	width: 100%;
	height: auto;
}

#MainHeader {
	height: 70px;
	margin: 0 0 7px 0;
	background-color: #ebebec;
	box-shadow: 0 2px grey;
}

.SiteTitle {
	float: right;
	margin:12px 12px 5px 0;
	padding: 2px;
	font-size: 22px;
	font-family: "Cooper Std Black", "Arial Black", Arial, sans-serif;
	color: #054792;
	text-shadow: 1px 1px 0 #d8d8dc;
}

.SiteLogo {
	float: left;
	margin-left: 10px;
}

#MainFooter {
	height: 35px;
	background-color: #7b0304;
	clear: both;
}  

.LeftFooterText {
	color: white;
	float: left;
	padding: 5px;
	margin: 0 0 0 5px;
	font-family: "Cooper Std Black", "Arial Black", Arial, sans-serif;
	font-size: 12px;
}

.RightFooterText {
	float: right;
	color: white;
	padding: 5px;
	margin: 0 0 0 5px;
	font-family: "Cooper Std Black", "Arial Black", Arial, sans-serif;
	font-size: 12px;
}